*{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}
/* mobile first */
.main{
    padding: 9rem 0;
}
.wrapper{
    border: 1px solid;
    background-color:  hsl(217, 19%, 24%);
    width: 90vw;
    border-radius: 20px;
    margin: 0 auto;
}

.heading{
    color: hsl(150, 100%, 66%);
    margin: 2.5rem;
    font-size:smaller;
    letter-spacing: 3px;
    background-color: inherit;
}
.heading span{
    background-color: inherit;
}
.advice_text_wrapper{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    margin:0 1rem 1.5rem 1rem;
    background-color: inherit;
}
.advice_text{
    background-color: inherit;
}

.design_image{
    background-color: inherit;
}

.design_image img{
    background-color: inherit;
}

.button_container{
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    padding: 1em;
    border-radius: 50%;
    width: fit-content;
    position: relative;
    top: 1.7rem;
    margin: 0 auto 0 auto;
}
.button_container img{
    background-color: inherit;
    animation: dice 1.2s infinite alternate;
}
@keyframes dice {
    0%{
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg);
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    border-top: 1px dashed ; 
    margin-top: 4rem; 
    color: #ffffff;
    padding-top: 0.5rem;
}

.attribution a { 
    color: hsl(228, 25%, 61%);
}

/* desktop */
@media screen and (min-width:768px){
    .wrapper{
        width: 40vw;
    }
}